/* Mario game */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #46add6;
    overflow: hidden;
    position: relative;
    
}
*::-webkit-scrollbar {
    display: none;
}

.game-container {
    height: 100vh;
    width: 3000px;
    position: absolute;
    transition: transform 0.1s ease-out;
}

.modi {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    transition: all 0.1s linear;
    object-fit: contain;
    object-position: center;
}

.modi-img {
    width: 100%;
    height: 100%;
}

.pipe{
    position:absolute;
    height: 140px;
    width: 130px;
    background: url('./media/pipe.png');
    background-size: contain;
    background-repeat: no-repeat;
    top:460px;
}

.pipe1{
    left:500px;
}

.pipe2{
left:1000px;
}
.pipe3{
left:1500px;
}

.ground {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 130px;
    width: 100%;
    background-image: url('./media/groundBrick.jpg');
    background-repeat: repeat-x;
    background-size: contain;
}